
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


@font-face {
  font-family: 'open';
  src: url('/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Body {
  position: relative;
  top: 60px;
  /* transform: translate(0, 60px); */
  /* background: #1416; */
}